<div class="banner">
  <div class="banner-content">
    <h1>Un problème d'ordinateur, de smartphone ou d'imprimante ?</h1>
    <p>Postez une annonce qui décrit votre problème et recevez de l'aide rapidement grâce à un expert Ailper</p>
    <div class="banner-buttons">
      <%= link_to 'Je crée une annonce', new_request_path, class: 'cta-white' %>
      <%= link_to 'Comment ça marche ?', '#', class: 'link-white' %>
    </div>
  </div>
</div>

<div class="categories-block">
  <h2>Les catégories les plus fréquentes</h2>
  <div class="cards-grid-categories">
    <% @categories.each do |category| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category.photo %>)">
        <%= link_to category.name, '#', class: 'cta-blue' %>
      </div>
    <% end %>
  </div>
</div>

<div class="last-requests-block">
  <h2>Les dernières annonces</h2>
  <div class="cards-grid-requests">
    <% @requests.each do |request| %>
      <%= render 'requests/request_card', request: request %>
    <% end %>
  </div>
</div>
